extends ../layout.pug
include ../mixins/link.pug
include ../mixins/organizer.pug

block content
  h1
  .section.event-background
    .container
      .row
        .col.m8.s12
          .card
            if cover
              .card-image
                img(src=cover)
            .card-content
              span.card-title.large #{name}
              p #{subtitle}
              ul
                if dates.isMultiDay
                  li.row.event-detail
                    .col
                      i.small.material-icons date_range
                    .col
                      .event-parameter
                        | #{dates.datesAndTimes}
                else
                  li.row.event-detail
                    .col
                      i.small.material-icons date_range
                    .col
                      .event-parameter
                        | #{dates.date} (#{dates.time})
                li.row.event-detail
                  .col
                    a(href=venue.mapUrl)
                      i.small.material-icons location_on
                  .col
                    a(href=venue.mapUrl)
                      .event-parameter.truncate
                          | #{venue.name}
                a(href=regFormLink).btn.right Registrovat
                br
          .card
            .card-content
              span.card-title O akci
              p !{description}

        .col.m4.s12
          .card
            .card-content
              span.card-title Organizuje

              .row
                .col
                  each chapter in chapters
                    a(href='/chapter/' + chapter.urlId)
                      if chapter.logo
                        img.responsive-img(src=chapter.logo)
                      else
                        p=chapter.name
          .card
            .card-content
              span.card-title Organizátoři

              .row
                each org in organizers
                  .col.s4
                    +profile-picture(org.profilePicture)
                    p.center=org.name

          .card
            .card-content
              span.card-title Sledujte akci
              .row
                if links
                  +links(links)



