extends ../layout.pug
include ../mixins/link.pug

block content
  h1
  .section.event-background
    .container
      .row
        .col.m8.s12
          .card
            if cover
              .card-image
                img(src=cover)
            .card-content
              span.card-title.large #{name}
              p #{subtitle}

        .col.m4.s12
          .card
            .card-content
              span.card-title Kdy a kde
              ul
                if dates.isMultiDay
                  p not implemented
                else
                  li
                    i.material-icons date_range
                    | #{dates.date}
                  li
                    i.material-icons access_time
                    | #{dates.time}
                li
                  a(href=venue.mapUrl)
                    i.material-icons location_on
                    | #{venue.name}
              a.btn-large Registrovat se
        .col.m8.s12
          .card
            .card-content
              span.card-title O akci
              p !{description}

        .col.m4.s12
          .card
            .card-content
              span.card-title Organizující skupiny

              .row
                .col
                  each chapter in chapters
                    a(href='/chapter/' + chapter.urlId)
                      if chapter.logo
                        img.responsive-img(src=chapter.logo)
                      else
                        p=chapter.name
        .col.m4.s12
          .card
            .card-content
              span.card-title Organizátoři

              .row
                each org in organizers
                  .col.s4
                    if org.profilePicture
                      img.responsive-img.circle(src=org.profilePicture)
                    else
                      img.responsive-img.circle(src='/public/images/other/non_profilepic.png')
                    p.center=org.name
        .col.m4.s12
          .card
            .card-content
              span.card-title Sledujte akci
              .row
                if links
                  +links(links)



