extends ../layout.pug
include ../mixins/link.pug

mixin event(name, subtitle, coverURL, eventUrlId)
  .col.s12.m4
    a(href="../event/" + eventUrlId)
      .card.hoverable.event-card
        .card-image
          if coverURL
            img(src=coverURL)
        .card-content
          .card-title= name
          p= subtitle

mixin event-big(urlId, name, cover, subtitle, description, dates, venue, regFormLink)
  .col.s12.m8
    .card.hoverable
      .card-image
        img(src=cover)
      .card-content
        span.card-title=name
        p=subtitle
        br
        ul
          if dates.isMultiDay
            li.row.event-detail
              .col
                i.small.material-icons date_range
              .col
                .event-parameter
                  | #{dates.datesAndTimes}
            li.row.event-detail
              .col
                a(href=venue.mapUrl).black-text
                  i.small.material-icons location_on
              .col
                a(href=venue.mapUrl).black-text
                  .event-parameter.truncate
                    | #{venue.name}
          else
            li.row.event-detail
              .col
                i.small.material-icons date_range
              .col
                .event-parameter
                  | #{dates.date} (#{dates.time})
            li.row.event-detail
              .col
                a(href=venue.mapUrl).black-text
                  i.small.material-icons location_on
              .col
                a(href=venue.mapUrl).black-text
                  .event-parameter.truncate
                    | #{venue.name}
        // TODO Remove replaceAll
        p !{description.replaceAll('\n', '<br/>').replaceAll('strong', 'b').replaceAll('h1', 'h5').replaceAll('h2', 'h5').replaceAll('h3', 'h5').replaceAll('h4', 'h5').replaceAll('h6', 'h5')}
      .card-action
        a(href=regFormLink).blue-text Registrovat se
        a(href='/event/' + urlId).blue-text Více informací

block content

  .parallax-container.c_parallax-container
    .section.no-pad-bot
      .container
        .wrapper
          .wrapper
            img(src=sectionIconURL).section-logo
            h1.header #{name}
            .row
              .col.s8
                p !{description}


        .parallax
          .c_parallax-overlay
          img(src='/public/images/other/parallax-1.jpg')

  .section
    .container
      h3.header Nejbližší akce
      if futureEvents.length === 0

        .row
          .col.s12.m8
            .card
              .card-content
                span.card-title Momentálně nemáme vystavenou žádnou akci
                p Aktuálně nemáme vystavenou žádnou akci. Je však možné, že na nějaké pracujeme. Sleduj nás na sociálních sítích ať ti nic neunikne!
          .col.s12.m4
            h5 Sledujte nás
            .row
              if links
                +links(links)
      else if futureEvents.length === 1

        .row
          -var futureEvent = futureEvents[0]
          +event-big(futureEvent.urlId, futureEvent.name, futureEvent.cover, futureEvent.subtitle, futureEvent.description, futureEvent.dates, futureEvent.venue, futureEvent.regFormLink)
          .col.s12.m4
            h5 Sledujte nás
            .row
              if links
                +links(links)
      else
        .row
          -var futureEvent = futureEvents[0]
          +event-big(futureEvent.urlId, futureEvent.name, futureEvent.cover, futureEvent.subtitle, futureEvent.description, futureEvent.dates, futureEvent.venue, futureEvent.regFormLink)
          each nextFutureEvent in futureEvents.slice(1)
            +event(nextFutureEvent.name, nextFutureEvent.subtitle, nextFutureEvent.cover, nextFutureEvent.urlId)
          .col.s12.m4
            h5 Sledujte nás
            .row
              if links
                +links(links)

  if pastEvents.length !== 0
    .section
      .container
        h3.header Minulé akce
        .row.past-events-list
          each pastEvent in pastEvents
            +event(pastEvent.name, pastEvent.subtitle, pastEvent.cover, pastEvent.urlId)

          // Unable to remove margin
          -var n = pastEvents.length % 3
          while n-- >= 0
            .col.s12.m4



        .right-align
          a.waves-effect.waves-light.btn.disabled Více akcí
  .section.green
    include ../mixins/organizer.pug
    .container
      h3.header.white-text Organizátoři
      p.white-text Stejně jako GUG, tak i #{name} není jen organizace, je hlavně o lidech:
    .orgs-row.center
      ul.orgs
        each organizer in organizers
          +organizer(organizer.name, organizer.profilePicture, organizer.links)
    .container
      p.white-text Máš chuť se taky podílet? Jsme otevřeni novým tvářím. Navíc to můžeš jenom zkusit a sám uvidíš jestli tě to bude bavit. My si troufáme tvrdit, že ano!
      a.waves-effect.waves-light.btn Přidej se k nám
  .section
    .container.center
      h3.thin Zůstaňte ve spojení
      if email
        i.grey-text.material-icons.medium email
        h4.grey-text #{email}
      h1
      if email && links
        .divider
      if links
        h1
        +links-row(links)
      h1
